body{font-family: helvetica;}

.sec-1{ padding-top: 0px !important;
    margin-top: -17px !important;
    margin-bottom: 56px !important;
    text-align:  center;
    padding-right: 0px;}
.aaa{ 
    margin-left: 39px;
}
 
.bbb{margin-top: 41px;} 
.sellbtn { margin-left: 101px;}


@media screen and (min-width:280px ) and (max-width:767px)
{

    
.sec-1{ padding-right: 0px!important;}    
 .aaa{ 
    margin-left: 0px;
    margin-bottom: 12px;
}
.bbb{margin-bottom: 20px;}
.sellbtn { margin-left: 0px;}
}












